body{
    background-color: #fff;
    margin: 0;
    margin-bottom: 40px;
}

div.cabeceraCssAzul{
    width: 35%; 
    height: 10.6vw; 
    background: rgb(23, 92, 218);

}
div.cabeceraCssAzulClaro{
    margin:-10.6vw 0 0 10%;
   width: 25%;
    height: 10.6vw;
     background: #4d79ff;
     border-radius: 100% 0 0 0 / 155px 0 0 0;
}
div.cabeceraCssBlanca{
    margin:-10.6vw 0 0 20%;
    width: 60%;
    height: 10.6vw;
    background: snow;
    border-radius: 100% 0 100% 0 / 500px 0 500px 0;

}
div.cabeceraCssRoja{
    margin:-10.6vw 0 0 65%;
    width: 35%; 
    height: 10.6vw;
    background: red;
}
div.cabeceraCssRojoClaro{
    margin:-10.6vw 0 0 65%;
   width: 25%;
    height: 10.6vw;
     background:  #F19999;
     border-radius: 0 0 100% 0 / 0 0 155px 0;
}
div.textoCabecera{
    margin:-10.2vw 0 0 31%;
    font-size: 3.7vw;
    color: rgb(31,120,254);
    text-shadow: 0 0 3px rgb(19,50,254),0.12vw 0.12vw 1px #00004d;    
}
div.textoCabeceraUniverisdad{
    margin:1.5vw 0 0 23%;
     font-size: 2vw;
      color: #ff4d4d;
      text-shadow: 0 0 3px #ff0000;
      text-shadow: 1.3px 1.3px 0px #4d0000;
}
div.cabeceraCss{
   height: 10.6vw; 
   width: 100%;
}
img.logoUmssCss{
   margin:-9vw 0 0 5%;
   height: 12.3vw;
}
img.logoCarreraCss{
   margin:-9.5vw 0 0 70%;
   height: 9.5vw;
}